.login {
    background-color: #f0f2f5;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.login__container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.input {
    background-color: #fff;
    color: #1d2129;
    border: 1px solid lightgray;
    outline: none;
    border-radius: 6px;
    height: 48px;
    width: 332px;
    font-size: 20px;
    margin: 10px;
    padding-left: 10px;
}

.button {
    background-color: #0099FF;
    color: #fff;
    border: none;
    border-radius: 6px;
    height: 48px;
    width: 332px;
    font-size: 20px;
    margin: 10px;
}

.button:hover {
    background-color: #008be7;
    cursor: pointer;
}

.error {
    text-align: center;
    margin: 10px;
    color: red;
    font-weight: 600;
}